@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&display=swap');


body {
	background-color: #FFFFFF;
	font-family: 'Bodoni Moda', serif;
	font-size: 1em;
	border: none;
}

.flex-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	border-radius: 4px;
}

